body {
    margin: 0;
}
.banner {
    width: 100%;
}
.main-container {
    overflow: auto;
    margin: 0;
}
.main-container>img, .main-container>a {
    float: left;
    width: 33.33333%;
}
.main-container>img {
    height: 600px;
}
.wrap {
    width: 100%;
}
